/.svn

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/main.prof
/out.log

*~
*.log

.out.log.swp
valgrind-python.supp
!logs/root.log
!logs/root.log
!src/arc/packager.pyc
!src/arc/simcluster.pyc
