<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcadepy/src/arc/simcluster.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/arcadepy/out.log}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:arcadepy/src/arc/simcluster.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:arcadepy/src/arc}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--sourcefile /home/joshua/Dropbox/arcade/data/bash_symbol/bash_symbol_limbo_preselected_ilm_20_clusters.rsf --authfile &quot;/home/joshua/Documents/Software Engineering Research/projects/recovery/dependencies/dependency_project/deps_and_gt/Bash/gt/bash_symbol_level_gt.rsf&quot; --csvfile /home/joshua/recovery/simcluster/bash_4.2_limbo_symbol_with_symbol_gt_simcluster.csv"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:arcadepy/src/arc}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="arcadepy"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
<stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
